body {
  font-family: Arial, sans-serif;
  background-color: #007bff; 
  color: white;
  font-size: larger;
  text-align: center;
  padding-top: 10%;
}

img {
  width: 800px;
  margin-top: 20px;
  filter: brightness(0) invert(1);
}
